.adventure .findAdventure { 
  border: 1px solid green;
}

.adventure .findAdventure h2 {
  text-align: center;
  font-style: italic;
  font-size: 25px;
}

.adventure .experienceDisplayer {
  display: flex;
  justify-content: center;
}