.filterExperience {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.filterExperience h2 {
  text-align: center;
}

.filterOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filterOptions button {
  width: 140px;
  height: 40px;
  margin: 0 auto;
}

.filterOptions {
  border: 1px solid red;

}